package environment

func Environment() *ENVConfig {
	env := ENVConfig{
		DBName:     "",
		DBPassword: "",
		DBUser:     "",
		DBSSLMode:  "",
		Port:       "",
		SecretKey:  "",
		AdminKey:   "",
		APIVersion: "",
	}
	return &env
}
